*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size: 25px;
    padding-left: 50px;
}

.navbar-nav {
    margin-right: 180px;
}



.dropdown-menu {
    background-color:#343a40;
    margin-top:7px;
    margin-left: 5px;
    border-radius: 0px;
}

.dropdown-item {
    color: rgb(255, 255, 255);
}


.btn {
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.btn:hover {
    background-color: black;
    color: white;
}

/*Home page*/

.landing_page {
    background-image: url(img/landingpage.bg.png);
    background-position: top;
    background-attachment: fixed fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.intro h1 {
    background-color: rgba(93, 89, 89, 0.719);
    color: white;
    width: 500px;
    font-size: 60px;
    padding: 0px 20px;
    text-transform: uppercase;
    margin-top: 120px;
}



.login_page {
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 3px;
    display: grid;
    place-items: center;  
    width: 350px;
    height: 400px;
    padding: 10px 20px;
    margin-left: 150px;
    
}
h2 {
    font-size: 25px;
    color: black;
    padding-top: 10px;
    
}


.user_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#username, #Email,#Password {
    box-sizing: border-box;
    padding: 2px 35px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: left;
    background-color:rgba(255, 255, 255, 0.767);
    cursor: text;
    margin-bottom: 10px;
    font-size: 14px;
    
}

#username:hover, #Email:hover,#Password:hover {
    background-color: #9cafc5;
}

.login_btn {
    display: flex;
    align-items:center;
    justify-content: center;
}

.mybtn {
    margin: 0px 10px 0px 10px;
    padding: 5px 30px ;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    justify-content: center;
    background-color: transparent;
}

.mybtn:hover {
    background-color: black;
    color: white;
}

.forget_pass {
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
    color: rgb(255, 0, 0);
}

#forget {
    margin-top: 10px;
}

/*Registraion page*/


.registration_page {
    background: url(img/registraion.bg.jpg);
    background-position: top;
    background-attachment: fixed fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.academic_staff_registration{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 350px;
    height: 750px ;
    padding: 20px 30px;
    margin: 30px 50px;
}

.register {
    display: grid;
    place-items: center;
}
.register_input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.register_input input{
    box-sizing: border-box;
    padding: 2px 35px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: left;
    background-color:rgba(255, 255, 255, 0.767);
    cursor: text;
    margin-bottom: 5px;
    font-size: 14px;
}

.register_input label {
    font-size: 16px;
    
}

.register_input input:hover {
    background-color:  #9cafc5;
}

.register_btn {
    text-decoration: none;
    padding: 5px 30px ;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    justify-content: center;
    
}

.register_btn:hover {
    background-color: black;
    color: white;
}

.twoforms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/*unit details page*/

.container {
    margin-top: 100px;
}

table, th, td {
    border: 1px solid grey;
    padding-left: 10px;
}

.unit-into-text {
    margin-top: 50px;
}

.unit-into-text h4 {
    padding-bottom: 10px;
}

.unit-into-text h1 {
    padding-bottom: 10px;
}

.summary-table {
    margin-bottom: 30px;
}

.summary-table h4 {
    margin-bottom: 10px;

}

.brief-des p {
    line-height: 32px;
    width: 80%;
    margin-bottom: 20px;
}

.availability-table {
    margin-bottom: 30px;
}
.availability-table h4 {
    margin-bottom: 20px;
}

.link-to-enrolment{
    margin-bottom: 50px;
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.enrol-btn {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
}

/*Unit Enrolment Page*/

.enrolment-page {
    height: 150vh;
}

.units{
    border: 1px solid grey;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.enrol-table tr th {
    padding: 5px 30px;

}
.enrol-table {
    margin: 20px;
}
.enrol-table td {
    text-align: center;
    padding-right: 15px;
}

.enrol-now {
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
}

.enrol-now:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}



/*Mastepage for academic staff*/

.academic-staff {
    height: 150vh;
}

.staff-list{
    margin-top: 30px;
}
.staff-list tr th {
    padding: 7px 30px;
}

.staff-list td {
    padding-right: 15px;
    padding: 7px 20px;
}

.list-btn {
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 1px;
}

.list-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#btn-list {
    margin-left: 30px;
}

/*Mastepage for Unit details*/

.Masterpage-units {
    height: 170vh;
}

.DC-access {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DC-access-login {
    background-color: #cacfd6a4;
    border: 2px solid black;
    border-radius: 3px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DC-access-login input {
    margin-left: 20px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 2px;
}

.unit-offer{
    margin-top: 20px;
}
.unit-offer tr th {
    padding: 7px 30px;
}

.unit-offer td {
    padding-right: 15px;
    padding: 7px 20px;
}

#access {
    margin-bottom:10px;
}

#acc-btn {
    margin-top: 20px;
    text-decoration: none;
    padding: 5px 30px ;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    justify-content: center;
}

#acc-btn:hover {
    background-color: black;
    color: white;
}

/*spacial work on later
.container1 {
    display: none; 
}
*/



/*Time table*/


.timetable {
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timetable h1 {
    margin-bottom: 50px;
    font-size: 30px;
}

#time {
    border: 1px solid grey;
}

#time tr th {
    padding: 7px 30px;
}

#time td {
    padding: 1px 20px;
}



.tut {
    color: black;
    background-color: rgba(255, 0, 0, 0.513);
    padding: 1px 10px;
    font-size: 16px;
    font-weight: 900;

}

.time-btn {
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 450;
    letter-spacing: 1px;
}

.time-btn:hover {
    background-color: black;
    color: white;
}

#btn-time {
    margin-left: 30px;
}